a, #nav-main ul.sf-menu ul li a:hover, .product_price ins .amount, .price ins .amount, .color_primary, .primary-color, #logo a.brand, #nav-main ul.sf-menu a:hover,
.woocommerce-message:before, .woocommerce-info:before, #nav-second ul.sf-menu a:hover, .footerclass a:hover,.footer_up_wrap.light #up_footerwrap.footerclass a:hover, .posttags a:hover, .subhead a:hover, .nav-trigger-case:hover .up-menu-icon,
.nav-trigger-case .up-menu-icon i:hover, .normal.white .shop_icon a:hover,.shop_icon a:hover, #wp-calendar a,.author_share a i:hover{color:#ec5a35;}
.product-category.grid_item a:hover h5, .woocommerce-message .button, .widget_layered_nav_filters ul li a, .widget_layered_nav ul li.chosen a, .wpcf7 input.wpcf7-submit,
.portfolionav a:hover, .home-iconmenu a:hover, #commentform .form-submit #submit,
.login .form-row .button, .up-button{background:#ec5a35}
.topclass{background:#000000}
.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt{background:#ec5a35;border-color:#ec5a35;color:#fff;}
.shipping-calculator-button{font-size:14px;text-transform:uppercase;background:#ec5a35;border-color:#ec5a35;color:#fff;padding:5px 10px 5px 10px;}
a:hover{color:#000;}
.input[type="submit"]:hover, .login .form-row .button:hover, .up-button:hover, .woocommerce-message .button:hover, #commentform .form-submit #submit:hover, .wpcf7 input.wpcf7-submit:hover, .widget_layered_nav_filters ul li a:hover, .widget_layered_nav ul li.chosen a:hover{background:#000;}
.up-mobile-nav .nav-inner li a:hover{color:#ec5a35}
.headerclass{background:#fff;}
.navclass{background:#fff;}
.sf-menu a{letter-spacing:normal;}
#nav-second ul.sf-menu a{letter-spacing:normal;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1em;height:1em;border:1px solid #ec5a35;cursor:pointer;background:#ec5a35;}
.wpb_categories_filter li.active {border-color:#ec5a35;}
a:hover{text-decoration:none;}
.hometitle{text-align:center;}
a.up-button.up_btn-t:hover{color:#fff !important;background:#ec5a35;border:1px solid;}
a.up-button.up_btn-d,.grid_port_paging a,a.up-button.port_but{color:#fff;background:#ec5a35;}
.head_title , .head_title h1{color:#ec5a35;text-transform:uppercase}
.sidebar a{color:#555;}
.portfolio h5.text-title{color:#ec5a35}
.ab-wrap,.wideab-wrap{background:#ec5a35;text-transform:uppercase;text-align:center;}
.wp-pagenavi .current{background:#ec5a35;color:#fff}
.circle-text{color:#ec5a35;border:1px solid #ec5a35;}
.up_bar_v{background-color:#ec5a35;}
#nav-main ul.sf-menu a:after, #commentform input, .form-search .search-icon:hover{background:#ec5a35;}
.wrap.maincontent.dark_version .widget-inner li a:hover, .widget-inner li a:hover{color:#ec5a35}
.datahead a:hover, .post_share i:hover{color:#ec5a35}
.team-box .team-inner h5, header #logo a.brand, .logofont, #commentform label span{color:#ec5a35;}
.hover.main.vc_column_container:hover, .widget .tagcloud a{background-color:#ec5a35 !important;}
.wp-pagenavi a:hover{background:#ec5a35;color:#fff;}
h4.wpb_toggle, .blogmasonry a h5:hover{color:#ec5a35}
blockquote{border-left:4px solid #ec5a35;}
#up_filters li span.active , a.linkedib i:hover, .dropcap{color:#ec5a35}
.highlight{background-color:#ec5a35;}
div.wpcf7-validation-errors{border:1px solid #ec5a35;}
.wpb_tabs .wpb_tabs_nav li{margin:0 -1px 0 0 !important;}
.wpb_categories_filter li.active , .wpb_content_element .wpb_tabs_nav li.ui-tabs-active a {background:#ec5a35;}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a ,.portfolionav a:hover{border-color:#ec5a35}
.wpb_teaser_grid .categories_filter li.active a, .up_counter_iner{color:#ec5a35}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active{border:1px solid #ec5a35;}
.up_pricing_inner{background:#ec5a35}
.wrap.maincontent.dark_version .blogmasonry .post_share i:hover, .wrap.maincontent.dark_version .nav-previous a:hover,.wrap.maincontent.dark_version .nav-next a:hover, h1.entry-title a:hover{color:#ec5a35;}
.up-mobile-nav .nav-inner li.current-menu-item>a, span.shortcode_icon a i:hover{color:#ec5a35 !important}
.woocommerce-page .wrap.maincontent.dark_version .single_add_to_cart_button.button.alt{border-color:#ec5a35 !important}
.woocommerce-page .wrap.maincontent.dark_version .single_add_to_cart_button.button.alt:hover{border-color:#868686 !important}
 a.up-button:hover{color:#fff;background:#ec5a35;}
 a.up-button.up_btn-d:hover{color:#000;background:#fff;}
a.slider-button.white:hover{color:#fff!important;background:#ec5a35 !important;}
a.slider-button{color:#fff!important;background:#ec5a35 !important;}
::selection{background:#ec5a35;color:#fff;}
.mc4wp-form input[type="submit"], .mc4wp-form button, .mc4wp-form input[type="button"]{background:#ec5a35;color:#fff;border:0;}.mc4wp-form input[type="submit"]:hover, .mc4wp-form button:hover, .mc4wp-form input[type="button"]:hover{background:#000;color:#fff;border:0;}
#nav-main ul.sf-menu li.current_page_item>a, a.rsswidget{color:#ec5a35 !important;text-transform:uppercase;}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active a{background:#ec5a35;color:#fff !important}
.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button{background:#4A4A4A}
.tribe-events-list-widget .tribe-events-widget-link a:hover, a.post_more:hover{color:#fff; border-color:#ec5a35; background:#ec5a35}
.normal.white #up_topbar #nav-main ul > li.up-megamenu > ul ul li a:hover{color:#ec5a35!important;}
.normal.dark #up_topbar #nav-main ul > li.up-megamenu > ul ul li a:hover{color:#ec5a35!important;}
.normal.white #nav-main ul.sf-menu ul li a:hover{color:#ec5a35}
.wp-travel-notice-success {background: #ec5a35;}
.checkout-page-wrap input[type=submit], button[type=submit]{background:#ec5a35; border:0;color:#fff;padding: 9px 25px;}
.wp-travel-message::before {color: #ec5a35;}
.wp-travel-message {border-top-color: #ec5a35;}
.ws-theme-cart-page .update-cart {padding: 8px 29px;border: 1px solid #dccfae;color: #000;}
.ws-theme-cart-page .update-cart:hover {background: #ec5a35;}
.ws-theme-cart-page .actions .book-now-btn{background: #ec5a35;color: #fff;border: 0;}
.wp-travel-toolbar .wp-travel-filter-button .btn-wp-travel-filter {padding: 3px 15px;background: #ec5a35;border: 0;color: #fff;}
.widget_wp_travel_filter_search_widget input[type="submit"],p.wp-travel-search input[type=submit]{background: #ec5a35;color: #fff;border: 0;padding: 6px 25px;}
#wp-travel-enquiry-submit {background: #ec5a35;color: #fff;}
.wp-travel-tab-wrapper .wp-travel-booking-form-wrapper form .wp-travel-form-field.button-field input#wp-travel-book-now{background:#ec5a35; border-radius:0px}
#wp-travel_rate a,.wp-travel-average-review span {color: #ec5a35;}
.wp-travel-tab-wrapper .tab-list.resp-tabs-list li.resp-tab-active {background: #ec5a35;color: #fff;}
.wp-travel.trip-headline-wrapper .wp-travel-booknow-btn {background: #ec5a35;}
.wp-travel-offer span {background: #ec5a35;letter-spacing: 1px;}
.wp-travel-offer span:before {border-right: 3px solid #ec5a35;border-top: 3px solid #ec5a35;}
.wp-travel-itinerary-items .wp-travel-post-item-wrapper .post-title a:hover {color: #ec5a35;}
.wp-travel-average-review:before {color: #ec5a35;}