/*.vc_element-icon{background-image: url(elements_icons_sprite_ue.png) !important;}
.icon-wpb-up.separator {background-position: 0 -1729px !important;}
 .icon-wpb-up.but {background-position: 0 -1985px !important;}
 .icon-wpb-up-fp{background-position: 0 -2177px  !important;}
 .icon-wpb-up-me{background-position: 0 -2209px  !important;}
 .icon-wpb-up.vp {background-position: 0 -1921px !important;}
 .icon-wpb-up.ca {background-position: 0 -1858px !important;}
 .icon-wpb-ht {background-position: 0 -1887px !important;}
 .icon-wpb-up.gp {background-position: 0 -1761px !important;}
 .icon-wpb-up.sp {background-position: 0 -1666px !important;}
 .icon-wpb-up.it {background-position: 0 -1697px !important;}
 .icon-wpb-up-itl {background-position: 0 -1346px !important;}
 .icon-wpb-up-itl {background-position: 0 -1825px !important;}
 .icon-wpb-up-tim {background-position: 0 -1954px !important;}
 .icon-wpb-up-tab {background-position: 0 -1729px !important;}
 .icon-wpb-up-test {background-position: 0 -2082px !important;}
 .icon-wpb-up-counter {background-position: 0 -2113px !important;}
 .icon-wpb-up-maps {background-position: 0 -2144px !important;}
.wpb_grid_portofoliio .wpb_element_wrapper{background-image: url(Grid-Portfolio.png) !important;}
.wpb_up_progress_bar .wpb_element_wrapper{background-image: url(Vertical-Progress-Bar.png) !important;}
.wpb_up_icon_text_left .wpb_element_wrapper{background-image: url(Icon-Left-With-Text.png) !important;}
.wpb_up_action_button .wpb_element_wrapper{background-image: url(Button-1.png) !important;}
.wpb_slider_portofoliio .wpb_element_wrapper{background-image: url(Slider-Portfolio.png) !important;}
.wpb_up_icon_text .wpb_element_wrapper{background-image: url(Icon-With-Text.png) !important;}
.wpb_up_heading_button .wpb_element_wrapper{background-image: url(Heading-Title.png) !important;}
.wpb_up_team_box .wpb_element_wrapper{background-image: url(Team-Box.png) !important;}
.wpb_up_counter .wpb_element_wrapper{background-image: url(Counter.png) !important;}
.wpb_slider_testimonial .wpb_element_wrapper{background-image: url(Call-To-Action-Button.png) !important;}
 .icon-wpb-up.is {background-position: 0 -1632px !important;}
.wpb_up_pricing_table .wpb_element_wrapper{background-image: url(Pricing-Tables.png) !important;}
.wpb_up_icon_single .wpb_element_wrapper{background-image: url(Single-Icon.png) !important;}
.vc-editor .vc-element-icon {background-image: url(elements_icons_sprite_ue.png) !important;}
.vc-editor .icon-wpb-up-separator {background-position: 0 -1314px !important;}
.vc-editor .icon-wpb-up-but {background-position: 0 -1378px !important;}
.vc-editor .icon-wpb-up-vp {background-position: 0 -1442px !important;}
.vc-editor .icon-wpb-up-ca {background-position: 0 -1506px !important;}
.vc-editor .icon-wpb-ht {background-position: 0 -1410px !important;}
.vc-editor .icon-wpb-up-gp {background-position: 0 -1282px !important;}
.vc-editor .icon-wpb-up-sp {background-position: 0 -1186px !important;}
.vc-editor .icon-wpb-up-it {background-position: 0 -1218px !important;}
.vc-editor .icon-wpb-up-itl {background-position: 0 -1346px !important;}
.vc-editor .icon-wpb-up-itl {background-position: 0 -1346px !important;}
.vc-editor .icon-wpb-up-tim {background-position: 0 -1474px !important;}
.vc-editor .icon-wpb-up-tab {background-position: 0 -1250px !important;}
.vc-editor .icon-wpb-up-test {background-position: 0 -1154px !important;}
.vc-editor .icon-wpb-up-is {background-position: 0 -1539px !important;}
.vc-editor .icon-wpb-up-counter {background-position: 0 -1634px !important;}
.icon-wpb-up-post {background-position: 0 -2049px !important;}
.wpb_up_latest_post .wpb_element_wrapper{background-image: url(Latest-Post.png) !important;}
 .icon-wpb-up_latest_post {background-position: 0 -1572px !important;}